body {
    background-color: #b0c4de;
    font-family:  Arial, Helvetica, sans-serif;

}

#navbar {
    line-height:30px;
    background-color:#b0c4de;
    color:white;
    height:100%;
    width:100px;
    float:right;
    padding:5px;
    font-family:  Arial, Helvetica, sans-serif;
}

h1 {
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
    font-family:  Arial, Helvetica, sans-serif;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:left;
    padding:5px;
    font-family:  Arial, Helvetica, sans-serif;
}

p {
    line-height: 130%;
    font-family:  Arial, Helvetica, sans-serif;
}